snippet consol "Console.log" b
console.log($1);$0
endsnippet

snippet component "React Component" b
import React, { Component } from "react";

export default class $1 extends Component {
	render() {
		return (
			<$2>
				$0
			</$2>
		);
	}
};
endsnippet

snippet imhere "I'm Here !" b
console.log('#####################################################################################################################################################################################');
$0
endsnippet
