snippet de "Debug ZF2"
\Zend\Debug\Debug::dump($1);
endsnippet

snippet dex "Debug ZF2 & exit"
\Zend\Debug\Debug::dump($1);exit;
endsnippet

snippet de1 "Debug ZF1"
Zend_Debug::dump($1);
endsnippet

snippet dex1 "Debug ZF1 & exit"
Zend_Debug::dump($1);exit;
endsnippet
