[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "bundle/pdv"]
	path = bundle/pdv
	url = git@github.com:tobyS/pdv.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/tabman"]
	path = bundle/tabman
	url = git@github.com:kien/tabman.vim.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = git@github.com:shawncplus/phpcomplete.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/git-branch-info"]
	path = bundle/git-branch-info
	url = git@github.com:vim-scripts/Git-Branch-Info.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
